body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
}

main {
  padding: 20px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

form {
  width: 100%;
}

input {
  box-sizing: border-box; /* Includes padding and border in the element's total width */
  width: 100%; /* Makes the input field take up the full width of its parent container */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #eee;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  color: #fff;
  background-color: #0e4bb4;
}

button:hover {
  background-color: #0a05a0;
}
